table {
    text-align: center;
    border-collapse: collapse;
}

table td {
    background-color: lightcyan;
    width: 100px;
    height: 30px;
    border: solid 1px;
    text-align: right;
}

th {
    background-color: bisque;
    border: solid 1px;
    width: 100px;
}