* {
  margin: 0;
  padding: 0;
}

.BOX {
  display: grid;
  grid-template-rows: repeat(10, 1fr) / repeat(10, 1fr);
  height: 100vh;
  row-gap: 5px;
}


.BOX>div {
  display: grid;
  grid-template: 1fr /repeat(10, 1fr);
  column-gap: 5px;
}

.BOX>div>div {
  background-color: gray;
}

.BOX>div:nth-child(even)>div:nth-child(odd),
.BOX>div:nth-child(odd)>div:nth-child(even){
  opacity: .5;
}