* {
  margin: 0;
}

#grid_container {
  display: grid;
  height: 100vh;
  grid-template: 1fr 3fr 1fr / repeat(2, 2fr) repeat(2, 1fr);
  grid-template-areas:
    "a b . ."
    "c c d d"
    ". e e .";
}

.logo {
  background-color: silver;
  grid-area: a;
}

.menu {
  background-color: lightblue;
  grid-area: b;
}

.contents {
  background-color: lightskyblue;
  grid-area: c;
}

.aside {
  background-color: lavender;
  grid-area: d;
}

.footer {
  background-color: lightsteelblue;
  grid-area: e;
}