* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide_list {
  width: 400px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

li {
  width: 400px;
  height: 500px;
  position: absolute;
  left: 100%;
  opacity: 0.5;
  transition: left 1s, opacity 1s;
  border-radius: 20px;
}

li:nth-of-type(1) {
  left: 0;
  opacity: 1;
}

.invisible {
  opacity: 1;
}
